
body, body * {
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  background-color: lightslategrey;
  min-height: 100vh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
